@font-face {
  font-family: 'StamAshkenaz';
  src: url(./fonts/Stam-Ashkenaz-CLM-Medium.ttf);
}

@font-face {
  font-family: 'StamSefarad';
  src: url(./fonts/Stam-Sefarad-CLM-Medium.ttf);
}

@font-face {
  font-family: 'Paleo';
  src: url(./fonts/PaleoHebrewMod.ttf);
}

@font-face {
  font-family: 'Proto';
  src: url(./fonts/AncientHebrewMod.ttf);
}


body {
  overflow: hidden;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  right: -1px;
  bottom: 50px;
  overflow: scroll;
  background-color: white;
  transition: transform 0.9s;
  transform: translateX(-1px);
  border-left: 1px solid #ccc;
}

.page.hidden {
  transform: translateX(300vh);
}

.page.names {
  z-index: 1;
}

.names-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0;
}

@media (orientation: portrait) {
  .names-table {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.hebrew-name.std {
  font-family: initial;
}
.hebrew-name.ash {
  font-family: StamAshkenaz;
}
.hebrew-name.sef {
  font-family: StamSefarad;
}
.hebrew-name.pal {
  font-family: Paleo;
}
.hebrew-name.pro {
  font-family: Proto;
}
.hebrew-name.small {
  font-family: initial;
}

.page.names .hebrew-name {
  font-size: 19px;
}

@media (min-width: 945px) and (min-height: 512px) {
  .page.names .hebrew-name {
    font-size: 2rem;
  }
}

.name-cell {
  border: 1px solid #ddd;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  position: relative;
}

.name-cell .name-number {
  display: none;
}

@media (min-width: 945px) and (min-height: 512px) {
  .name-cell .name-number {
    display: block;
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
}

.page.info {
  z-index: 10;
  display: flex;
}

@media (orientation: portrait) {
  .page.info {
    flex-wrap: wrap;
  }
}

.column {
  width: 50vh;
  height: 100vw;
  box-sizing: border-box;
}

.column + .column {
  border-left: 1px solid black;
  border-top: none;
}

@media (orientation: portrait) {
  .column + .column {
    border-left: none;
    border-top: 1px solid black;
  }
}

.page.info .column.names {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.page.info .column.names .name-meta {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  font-size: 1.5rem;
}

.page.info .column.names .english-name,
.page.info .column.names .name-number,
.page.info .column.names .name-footnote {
  font-size: 1.5rem;
}

.page.info .column.names .name-number {
  min-width: 30px;
}

.page.info .column.names .hebrew-name {
  font-size: min(8rem, 40vh);
}

.page.info .column.names .hebrew-name.pro {
  font-size: min(5rem, 40vh);
}

.page.info .column.description {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.35rem;
  line-height: 2rem;
}

.page.info .column.description .english-description.long {
  line-height: 1.6rem;
  font-size: 1.2rem;
}

@media (min-width: 945px) and (min-height: 512px) {
  .page.info .column.names {
    gap: 40px;
  }

  .page.info .column.names .name-meta {
    justify-content: space-evenly;
  }

  .page.info .column.names .english-name,
  .page.info .column.names .name-footnote {
    font-size: 2rem;
  }

  .page.info .column.names .hebrew-name:not(.pro) {
    font-size: 15rem;
  }

  .page.info .column.names .hebrew-name.pro {
    font-size: 11vw;
  }  

  .page.info .column.names .name-number {
    font-size: 2rem;
  }

  .page.info .column.description {
    padding: 3rem;
    font-size: 2.4rem;
    line-height: 3.5rem;
  }

  .page.info .column.description .english-description.long {
    line-height: inherit;
    font-size: inherit;
  }
}

.page.meditate {
  z-index: 20;
  bottom: 0;
}

.page.meditate .meditate-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14rem;
}

.page.meditate .meditate-wrap .hebrew-name.pro {
  font-size: 11rem;
}

@media (orientation: portrait) {
  .page.meditate .meditate-wrap {
    font-size: 10rem;
  }
}

@media (min-width: 945px) and (min-height: 512px) {
  .page.meditate .meditate-wrap {
    font-size: min(50vw, 50vh);
  }
}

.page.meditate.invert {
  color: white;
  background: black;
}

.page.meditate.black {
  color: black !important;
}

@keyframes flash {
  49% {
    color: black;
    background-color: white;
  }
  50%, 100% {
    color: white;
    background-color: black;
  }
}

.page.meditate.flash {
  animation: flash 0.1s linear infinite;
}

.page.meditate-time,
.page.study-time {
  z-index: 30;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.page.study-time {
  padding: 30px;
  display: block;
}

.page.study-time > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.page.meditate-time input,
.page.study-time input {
  width: 40px;
  font-size: 1.2rem;
  text-align: center;
}

.page.meditate-time #meditate-mode {
  height: 1.5rem;
  vertical-align: text-bottom;
}

.page.meditate-time #meditate-now,
.page.study-time #study-now {
  text-transform: uppercase;
  padding: 10px 40px;
  letter-spacing: 0.5px;
}

.page.abk {
  z-index: 20;
  padding: 20px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.page.abk .title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page.abk .title-row .hebrew-name {
  font-size: 2rem;
}

.page.abk .image-row {
  display: flex;
}

.page.abk img {
  width: 50%;
}

@media (orientation: portrait) {
  .page.abk .image-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .page.abk img {
    width: 100%;
  }
}

.page.abk .meaning {
  font-size: 1.2rem;
  text-align: center;
}

.button-bar {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.button-bar.hidden {
  visibility: hidden;
}

.button-bar img {
  height: 22px;
  margin-top: 3px;
}

.button-bar .buttons {
  display: flex;
  flex-direction: row;
  border: 1px solid #777;
  border-radius: 0.5rem;
}

.button-bar .option {
  text-align: center;
  width: 50px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 1px;
  font-family: Arial, Helvetica, sans-serif;
  border-right: 1px solid #777;
}

.button-bar .option:last-child {
  border: none;
}

.button-bar .option.selected {
  background: rgb(4,101,249);
  color: white;
}

.page.settings {
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  flex-direction: column;
}

.page.settings .font-wrap {
  display: flex;
  gap: 3vw;
  margin-top: 2rem;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.page.settings .font-button {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.page.settings .hebrew-name {
  border: 1px solid;
  width: min(20vw, 5rem);
  height: min(20vw, 5rem);
  text-align: center;
  font-size: min(13vw, 3.7rem);
  line-height: min(24vw, 6.2rem);
  border-radius: 1rem;  
}

.page.settings .hebrew-name.selected {
  background: rgb(4,101,249);
  color: white;
  border-color: rgb(4,101,249);
}

.page.settings .hebrew-name.pal,
.page.settings .hebrew-name.pro {
  line-height: 4.5rem;
  box-sizing: border-box;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  border-top: 1px solid #e9e9e9;
  background: #f9f9f9;
  display: flex;
  padding: 5px 15px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.footer.hidden {
  display: none;
}

.footer.back {
  z-index: 30;
}

.footer img {
  height: 30px;
}

.footer img.small {
  height: 20px;
}

.footer {
  font-size: 23px;
  line-height: 50px;
  text-align: left;
  border-top: 1px solid #e9e9e9;
  justify-content: flex-start;
  gap: 25px;
}

.footer div {
  flex: 1;
}

.footer.meditate {
  background-color: white;
  border-color: black;
}

.footer.meditate.invert {
  background-color: black;
}

.footer.agg {
  z-index: 50;
}

.footer.agg .hidden {
  width: 0px;
  visibility: hidden;
  pointer-events: none;
  margin-left: 0;
  flex: unset;
  display: none;
}

.footer[data-page=info] {
  justify-content: space-between;
}

.footer[data-page=fullscreen] {
  display: none;
}